@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-bodoni: 'Bodoni Moda', serif;
  --font-bebas: 'Bebas Neue', cursive;
}




button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

